{
 :deps true
 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :modules {:main {:init-fn app.core/init}}
        :devtools {:reload-strategy :full
                   :preloads [app.dev]
                   :http-root "public"
                   :http-port 8080}
        }
  }
 }
